<div class="form-container">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="loginForm" class="login-form" (submit)="onSubmit()">
        <h2>Iniciar sesión</h2>
        <mat-form-field appearance="fill">
          <mat-label>Nombre de usuario</mat-label>
          <input matInput formControlName="email" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input matInput formControlName="password" type="password" required>
        </mat-form-field>
        <button mat-raised-button class="buton_sesion" type="submit">Iniciar sesión</button>
        <a href="#" class="crear_user_link">Crear cuenta de usuario</a>
      </form>
    </mat-card-content>
  </mat-card>
</div>
